.banner {
  background: var(--color-primary);
  border-radius: var(--radius-card);
  min-height: 130px;
  position: relative;
  overflow: hidden;
}

.image_banner {
  position: absolute;
  width: 110px;
  height: 110px;
  right: 10px;
  bottom: -10px;
}
